@use "sass:map";
@use "../../../../../public/styles/utils/breakpoints";

.specialisationsWrapper {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.specialisationsWrapper::-webkit-scrollbar {
  display: none;
}

.specialisationItem {
  width: auto;
  height: 34px;
  padding: 5px 10px !important;
  border-radius: 12px !important;
}
