@use "sass:map";
@use "@@/public/styles/utils/colors" as *;
@use "@@/public/styles/utils/breakpoints" as *;

.footerContainer {
  background-color: $default-footer-bg-light;
}
.footerContent {
  padding: 60px 110px 20px 110px;
  height: auto;

  @media screen and (max-width: map.get($breakpoints, "md")) {
    padding: 20px 15px;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: map.get($breakpoints, "sm")) {
    flex-direction: column-reverse;
    gap: 30px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media screen and (max-width: map.get($breakpoints, "sm")) {
    gap: 20px;
  }
}

.contactsDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media screen and (max-width: map.get($breakpoints, "md")) {
    align-items: flex-start;
  }
}

.mainFooterContent {
  display: flex;
  gap: 50px;
  height: 160px;
  margin-bottom: 20px;
  @media screen and (max-width: map.get($breakpoints, "sm")) {
    height: auto;
    gap: 30px;
    flex-direction: column;
    margin-bottom: initial;
  }
}

.linksWrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, max-content));
  row-gap: 12px;
  column-gap: 50px;
  @media screen and (max-width: map.get($breakpoints, "md")) {
    column-gap: 23px;
  }
}

.cardStyle {
  background: $color-font-default;
  width: 152px;
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: map.get($breakpoints, "sm")) {
    width: 100%;
    height: 115px;
    align-items: center;
  }
}

.mobileCardHeader {
  @media screen and (max-width: map.get($breakpoints, "sm")) {
    text-align: center;
    width: 200px;
  }
}

.linkItem {
  color: $color-white;
}

.customHr {
  border: none;
  height: 1px;
  width: 100%;
  background: $color-border-light;
}

.otherDetails {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: map.get($breakpoints, "md")) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
}

.innInfo {
  width: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  @media screen and (max-width: map.get($breakpoints, "md")) {
    text-align: center;
  }
}

.other {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.footerLogo {
  height: 30px;
  width: 233px;
}

.privacyPolicy {
  margin-top: 60px;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: map.get($breakpoints, "md")) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.socialsWrapper {
  display: flex;
  gap: 10px;
}

.iconStyle {
  width: 30px;
  height: 30px;
}
