@use "../../../../../public/styles/utils/styles" as *;
@use "../../../../../public/styles/utils/colors" as *;

.root {
  font-family: "Wix Madefor Display", sans-serif;
}

.root_h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  letter-spacing: -1px;
}

.root_h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -1px;
}

.root_h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.5px;
}

.root_small {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.root_normal {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.5px;
}

.root_medium {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.5px;
}

.root_title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.5px;
}

.root_error {
  font: var(--font-sm);
  color: var(--red);
}

.color_black {
  color: $color-font-default;
}

.color_white {
  color: $color-white;
}

.color_gray {
  color: $color-font-gray;
}
