@import "../../../../../public/styles/utils/styles.scss";

.root {
  font-family: "Wix Madefor Display", sans-serif;
  color: $color-font-normal;
}

.root_h1 {
  font: var(--font-l);
}

.root_h3 {
  font: var(--font-m);
}

.root_p_xs {
  font: var(--font-xs);
}

.root_p {
  font: var(--font-sm);
}

.root_error {
  font: var(--font-sm);
  color: var(--red);
}
