@use "sass:map";
@use "@@/public/styles/utils/breakpoints" as *;

.navigationRoot {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-top: 80px;
  margin-bottom: 80px;
  @media screen and (max-width: map.get($breakpoints, "sm")) {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.categoriesWrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
